<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{{> title}}</title>

    <style>
        blockquote {
            margin: 0 0 1.11111rem;
            padding: 0 1.11111rem 0 1.05556rem;
            border-left: 1px solid gray;
        }

        blockquote p {
            line-height: 1.6;
            color: #6f6f6f;
        }
    </style>

    <script>
        function support() {
            try {
                eval("() => {};");
                return window.Promise !== undefined && window.fetch !== undefined;
            } catch (exception) {
                return false;
            }
        }

        if (!support()) {
            const error = "Unsupported browser. Please use a modern browser.";
            window.onload = function() {
                window.document.body.innerHTML = error;
            }
            alert(error);
        }
    </script>

    <script>
        function post(url, data) {
            return window.fetch(url, {
                method: 'POST',
                body: JSON.stringify(data),
                credentials: 'same-origin',
                headers: {
                    'content-type': 'application/json'
                }
            }).catch(reason => {
                alert("error: " + reason);
                throw new Error(reason);
            });
        }

        function _delete(url) {
            return window.fetch(url, {
                method: 'DELETE'
            }).catch(reason => {
                alert("error: " + reason);
                throw new Error(reason);
            });
        }

        function alert_err_resp(resp) {
            resp.text().then(body => alert("Status: " + response.status + " " + body));
        }
    </script>

    {{> other_headers }}
</head>
