{{#*inline "title"}}
    login - {{site.name}}
{{/inline}}

{{#*inline "body"}}
    {{#if logged}}
        <script>
            alert("Logged");
            window.location.replace("/");
        </script>
    {{else}}
        <h1>
            Login
        </h1>
        <label>
            password:
            <input id="password" type="password"/>
        </label>

        <h2 id="tip"></h2>

        <script>
            window.document.getElementById("password").addEventListener("change", () => {
                const tip = window.document.getElementById("tip");

                const password =  window.document.getElementById("password").value;

                post(window.location.pathname, {
                    "password": password
                }).then(response => {
                    if (response.ok) {
                        tip.innerText = "Ok";
                        window.location.replace(window.document.referrer);
                    } else if (response.status === 401) {
                        tip.innerText = "Unauthorized";
                    } else if (response.status === 403) {
                        tip.innerText = "No password defined";
                    } else {
                        response.text().then(body => tip.innerText = "Status: " + response.status + " " + body);
                    }
                });
            })
        </script>
    {{/if}}
{{/inline}}

{{> html}}
